---
 import "../styles/global.css"
 import Layout from "../layouts/layout.astro"
 import Space from "../components/Space.astro"
---

<Layout>
	 
	<h1 class="text-5xl  text-center" id="home">Home</h1>
	<Space/>
	

	
</Layout>