---
import Logo from "../assets/images/LC.svg"

---		
        
        
        <nav class=" m-3 flex justify-between">

            <Logo />

			<ul class="flex gap-6">
				<li><a href="/">home</a></li>
				<li><a href="/java">Java</a></li>
				<li><a href="/python">Python</a></li>
			</ul>


		</nav>

        